@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 241, 241);
}

h1 {
    font-size: 30px;
    color: rgb(243, 242, 242);
    padding-bottom: 5px;
    margin-left: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-section {
    background-color: #008000; 
    padding: 20px 0;
}

.header-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border-radius: 8px;
}

.header-items {
    display: flex;
    margin-right: 80px;
}

.header-item:hover {
  background-color: #006400; 
}

.pilares-esg {
    text-align: center;
}

#pilar-ambiental {
    margin: 10px;
    color: #006400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.grid-indicadores {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-indicadores .card-item {
  background: #fff;
  border-radius: 8px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.grid-indicadores .card-item h3 {
    text-align: center;
    font-weight: 500;
}

.grid-indicadores .card-item p {
    text-align: center;
}

.grid-indicadores .card-grafico-item {
  grid-column: span 2;
  min-height: 300px;
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.grid-indicadores .card-grafico-item .titulo-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grid-indicadores .card-grafico-item .titulo-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.grid-indicadores .card-grafico-item .grafico {
    height: 220px;
    margin: 16px 0 auto;
    background-color: rgb(227, 226, 226);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.social {
    margin: 50px;
}

#pilar-social {
    margin: 10px;
    color: blue;
}
#pilar-governanca {
    margin: 10px;
    color: chocolate;
}

.vermelho {
    color: red;
    font-size: 22px;
    font-weight: 600;
}

.verde {
    color:#006400;
    font-size: 22px;
    font-weight: 600;
}

.bege {
    color: chocolate;
    font-size: 22px;
    font-weight: 600;
}

.azul {
    color: blue;
    font-size: 22px;
    font-weight: 600;
}

.roxo {
    color: rgb(79, 0, 128);
    font-size: 22px;
    font-weight: 600;
}